header{
    background: url('https://i.pinimg.com/originals/6f/34/cb/6f34cb174c103fff380644d245b036b9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-link{
    background: linear-gradient(45deg, #006717fa, #35ff1d);
    border-radius: 20px;
    padding: 5px;
}
.dashboard{
    color:white;
    min-width:300px;
    max-width: 600px;
    background:url('https://t3.ftcdn.net/jpg/03/08/43/86/360_F_308438635_jnaBXVGtecR8Vp8bJX2zGXDyT2ggXhX7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    border:20px solid transparent;
    border-image: url('https://img.pngio.com/wood-grain-borderpng-blog-the-web-comes-to-life-wood-border-png-1676_868.png') 30 round;
}
form{
    padding: 30px 0 ;
}
.col-md-6, .col-sm-6{
    width: 40%;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 145px;
    background: transparent;
    color: white;
}
.editable {
    display: inline;
    box-shadow: black 3px 0px 3px;
    padding: 5px;
}
.save-btn{
    background: linear-gradient(45deg, #006717fa, #35ff1d);
}